#root {
  margin: 0 auto;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0; 
  background-color: black; 
  color: white; 
}

.bg-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./assets/Hero.jpg");
  display: flex;
  flex-direction: column;
  background-position: center;
  align-items: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.mt-82{
  margin-top: 332px;
}